/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin-top: 100px;
  text-align: center;
  padding: 0;
}

.top-page {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
}

.error-body {
  background-color: #f7f7f7;
}

h1 {
  color: #4285f4;
  margin-top: 5px;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

p {
  color: #666;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: auto;
}

a {
  display: inline-block;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #3367d6;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.error-container {
  text-align: center;
}

.error-code {
  color: crimson;
  font-size: 6em;
}

.error-message {
  font-size: 1.5em;
  margin-top: 20px;
}
