<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index_style.css">
  <title>Schedule/ログイン</title>
</head>

<body class="error-page">
  <div class="error-container">
    <h1 class="error-code">Access Error!!</h1>
    <h2 class="error-message">
      あなたが所属しているグループではありません
    </h2>
    <a href="/home">グループ選択画面へ戻る</a>
    <br />
  </div>
</body>
