<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <script th:inline="javascript">
    const groupid = /*[[${groupid}]]*/"groupid";
    console.log(groupid);
    //const url = "/path/to/home?id=" + groupid;
    window.onload = function () {
      var sse = new EventSource('/calendar/update?id=' + groupid);
      sse.onmessage = function (event) {
        console.log(event.data);

        document.getElementById("p1").textContent = event.data;
      }
    }
  </script>
</head>

<body>
  <p id="p1"></p>
  <a href="/logout">ログアウト</a>
  <a th:href="@{/post(id=${groupid})}">予定入力</a>
  <p>予定一覧</p>
  <table border="1">
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>開始時刻</th>
      <th>終了時刻</th>
    </tr>
    <tr th:each="group:${groupSchedules}">
      <td th:text="${group.hizuke}"></td>
      <td th:text="${group.title}"></td>
      <td th:text="${group.kaisi}"></td>
      <td th:text="${group.owari}"></td>
      <td><a th:href="@{/detail(id=${group.scheduleid})}">詳細</a></td>
    </tr>
  </table>
  <a href="/home">もどる</a>
</body>

</html>
