<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <link rel="stylesheet" href="/css/form-style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script th:inline="javascript">
    const groupid = /*[[${groupid}]]*/"groupid";
    console.log(groupid);
    window.onload = function () {
      var sse = new EventSource('/calendar/update?id=' + groupid);
      sse.onmessage = function (event) {
        console.log(event.data);
        var schedule_list = JSON.parse(event.data);
        var schedule_table = "";
        for (var schedule of schedule_list) {
          var bgn_tr = "<div>";
          var end_tr = "</div>";
          var date = "<span>" + schedule.hizuke + "</span>";
          var title = "<span>" + schedule.title + "</span>";
          var start_time = "<span>" + schedule.kaisi + "</span>";
          var end_time = "<span>" + schedule.owari + "</span>";
          var detail = "<span>" + "<a href='/detail?id=" + schedule.scheduleid + "'>詳細</a>" + "</span>"
          schedule_table = schedule_table + bgn_tr + date + title + start_time + end_time + detail + end_tr;
        }
        console.log(schedule);
        var div = document.getElementById("schedule_list");
        div.innerHTML = schedule_table;
      }
    }
//    function compareTime() {
//      const now = new Date();
//      const groupSchedules = /*[[${groupSchedules}]]*/"groupSchedules";
//      for (var groupSchedule of groupSchedules) {
//        const start = new Date(groupSchedule.kaisi);
//        const tomorrow = new Date();
//        tomorrow.setDate(now.getDate() + 1);
//        console.log("compareTime is working");
//        if (tomorrow.getTime() >= start.getTime()) {
//          const reminder = document.getElementById("reminder");
//          reminder.innerHTML += "明日の予定があります" + groupSchedule.title;
//       }
//      }
//    }
//    setInterval('compareTime()', 1000);
  </script>
  <script>
/*    function showClock1() {
      var nowTime = new Date();
      //var nowHour = nowTime.getHours();
      //var nowMin = nowTime.getMinutes();
      //var nowSec = nowTime.getSeconds();
      //var nowMonth = nowTime.getMonth();
      //var nowDay = nowTime.getDay();
      // var msg = nowMonth + ":" + nowDay + ":" + nowHour + ":" + nowMin + ":" + nowSec + " です。";
      var msg = nowTime;
      document.getElementById("RealtimeClockArea").innerHTML = msg;
    }
    setInterval('showClock1()', 1000);
*/
  </script>
</head>

<body>
  <div class="header">
    <p class="logo">予定一覧</p>
    <a href="/logout" class="logout-button"><span class="material-icons">logout</span>ログアウト</a>
  </div>
  <div class="wrap">
    <div class="calendar">
      <p><a th:href="@{/post(id=${groupid})}">予定入力</a></p>
      <!--<p id="reminder"></p>!-->
      <div class="list">
        <div>
          <span>　　日付　　</span>
          <span>タイトル　</span>
          <span>開始時刻</span>
          <span>終了時刻</span>
        </div>

        <div id="schedule_list">
          <div th:each="group:${groupSchedules}">
            <span th:text="${group.hizuke}"></span>
            <span th:text="${group.title}"></span>
            <span th:text="${group.kaisi}"></span>
            <span th:text="${group.owari}"></span>
            <span><a th:href="@{/detail(id=${group.scheduleid})}">詳細</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a th:href="@{/home}"><span class="material-icons">arrow_back</span>カレンダーに戻る</a>

</body>

</html>
