<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>home</title>
  <link rel="stylesheet" href="/css/form-style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script th:inline="javascript">
    function toggleButton(id) {
      const button = document.getElementById(id);
      if (button.style.display === "none") {
        button.style.display = "block";
      } else {
        button.style.display = "none";
      }
    }

    function getMemberList() {
      const groupid = document.querySelector('#groupEdit input[name="groupid"]:checked').value;
      const url = '/home/update/group?id=' + groupid;
      const eventSource = new EventSource(url);
      console.log("execute getMemberList");
      eventSource.onmessage = function (event) {
        const data = JSON.parse(event.data);

        const allUsers = Array.from(document.querySelectorAll('#groupEdit input[type="checkbox"]'));
        const button = document.querySelector('#groupEdit [type="submit"]');

        allUsers.forEach(function (userCheckbox) {
          userCheckbox.disabled = false;
          button.disabled = false;
          const isMember = data.members.some(function (member) {
            return member.userid === parseInt(userCheckbox.value);
          });
          userCheckbox.checked = isMember;
        });
        eventSource.close();
      }
    }

    function validateForm() {
      var genderOptions = document.getElementsByName('selectedGroup');
      var isChecked = false;

      for (var i = 0; i < genderOptions.length; i++) {
        if (genderOptions[i].checked) {
          isChecked = true;
          break;
        }
      }

      if (!isChecked) {
        alert('Please select a gender');
        return false; // フォームの送信を中止
      }

      // フォームが正常に検証された場合には true を返す
      return true;
    }
  </script>
</head>

<body>
  <div class="header">
    <a th:href="@{/home}" class="logo">Schedule</a>
    <a href="/logout" class="logout-button"><span class="material-icons">logout</span>ログアウト</a>
  </div>
  <div class="wrap">
    <div class="main_home">
      <div th:each="group:${groups}">
        <p class="container group">
          <a th:href="@{/calendar(id=${group.groupid})}">
            [[${group.groupname}]]
          </a>
        </p>
      </div>
    </div>

    <div th:if="${newgroupflag == null}">
      <a href="/newgroup" class="button"><span class="material-icons">newgroup</span>新しくグループを作る</a>
    </div>
    <div th:if="${newgroupflag}">
      <form method="post" th:action="@{/makenewgroup}" class="add_group">
        <legend>参加させるユーザー</legend>
        <div th:each="user:${otherusers}">
          <input type="checkbox" th:id="${user.userid}" name="imputUsers" th:value="${user.userid}"
            checked />[[${user.userName}]]
        </div>

        <p>グループ名を入力して下さい</p>
        <label>
          <input type="text" name="newGroupName" required />
        </label>
        <input type="submit" value="変更" />
      </form>
    </div>

    </br>
    <div class="home_button">
      <div th:if="${deleteGroupFlag == null}">
        <a href="/deleteGroupFlag" class="button"><span class="material-icons">delete</span>グループの削除</a>
      </div>
      <div th:if="${deleteGroupFlag}">
        <form method="post" th:action="@{/deleteGroup}">
          <div th:each="group:${AdminGroup}">
            <input type="radio" th:value="${group.groupid}" name="selectedGroup" />[[${group.groupname}]]
          </div>
          <input type="submit" value="削除" />
        </form>
      </div>
    </div>
    <div class="home_button">

      <button onclick="toggleButton('groupEdit')" >グループの変更</button>
      <div id="groupEdit" style="display: none;">
        <form method="post" th:action="@{/home/update/group}">
          <div th:each="group:${AdminGroup}">
            <input type="radio" th:value="${group.groupid}" name="groupid"
              onclick="getMemberList()" />[[${group.groupname}]]
          </div>
          <div th:each="user:${otherusers}" id="groupEntry">
            <input type="checkbox" name="groupusers" th:value="${user.userid}" disabled />[[${user.userName}]]
          </div>
          <input type="submit" value="変更" disabled />
        </form>
      </div>
    </div>
  </div>
</body>

</html>
