<!DOCTYPE html >
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>post</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles/post.css"/>
</head>
<body>
<div class="wrap">
    <a href="/logout">ログアウト</a>
    <h2>予定登録フォーム</h2>
    <p>[[${group.groupname}]]の予定を登録してください</p><br>
    <form method="post" th:action="@{/calendar(id=${group.groupid})}">
        <p>タイトル</p>
        <label><input type="text" name="title" placeholder="タイトル" required/></label>
        <p>日付</p>
        <label>
            <input type="date" name="date" value="2020-01-01" required/>
        </label>
        <p>時間</p>
        <label>
            <input type="time" name="start" value="00:00" required/> ~
            <input type="time" name="end" value="00:00" required/>
        </label>
        <p>内容</p>
        <label>
            <textarea name="content" rows="10" cols="50" placeholder="予定の内容を記入してください。" required></textarea>
        </label>
        <input type="submit" value="送信"/>
    </form>
    <a th:href="@{/calendar(id=${group.groupid})}">もどる</a>
</div>
</body>
</html>
